@{
    ViewData["Title"] = "Home Page";
}

<div class="bg1" style="height:100px"></div>
<div class="bg1">
    <p class="title intro"> Data Science <br> Data Scientist: The Sexiest Job of the 21st Century. Thomas H. Davenport and D.J. Patil, 2012.</p>
</div>
<div class="bg1">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-12" id="t1">
                <figure>
                    <figcaption>
                        <h2>Artificial Intelligence</h2>
                        <p>The age of spreadsheet is over. A google search, a passport scan, your online shopping history, a tweet.</p>
                        <a href="https://towardsdatascience.com/role-of-data-science-in-artificial-intelligence-950efedd2579" class="button">Read More</a>
                    </figcaption>
                </figure>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12" id="t2">
                <figure>
                    <figcaption>
                        <h2>Statistics</h2>
                        <p>Do you want to learn statistics for data science without taking a slow and expensive course?</p>
                        <a href="https://elitedatascience.com/learn-statistics-for-data-science" class="button">Read More</a>
                    </figcaption>
                </figure>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12" id="t3">
                <figure>
                    <figcaption>
                        <h2>Machine Learning</h2>
                        <p>Machine Learning is a growing field that is used when searching the web...</p>
                        <a href="https://www.edx.org/course/machine-learning-data-science-analytics-1" class="button">Read More</a>
                    </figcaption>
                </figure>
            </div>

            <div class="col-lg-4 col-md-6 col-sm-12" id="t4">
                <figure>
                    <figcaption>
                        <h2>Programming Languages</h2>
                        <p>Scientist must be able to make the right decision about the type of programming language required for the job. </p>
                        <a href="https://medium.com/datadriveninvestor/top-6-data-science-programming-languages-for-2019-39ba1b6819a8" class="button">Read More</a>
                    </figcaption>
                </figure>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12" id="t5">
                <figure>
                    <figcaption>
                        <h2>Data Analysis</h2>
                        <p> Quality data is more important than using complicated algorithms so this ..</p>
                        <a href="https://towardsdatascience.com/tagged/data-analysis" class="button">Read More</a>
                    </figcaption>
                </figure>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12" id="t6">
                <figure>
                    <figcaption>
                        <h2>Data Visualisation</h2>
                        <p>Network Mapping is a very effective way to show the key points of...</p>
                        <a href="https://towardsdatascience.com/data-visualization/home" class="button">Read More</a>
                    </figcaption>
                </figure>
            </div>

        </div>
    </div>
</div>
<div class="bg2"></div>
<div class="bg2">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/X3paOmcrTjQ" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/0jQ25PSyb_E" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
        </div>
    </div>
</div>